# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and debug files
*.log
*.out
*.err

# Database files
*.sqlite3
*.db

# Flask instance and static files
instance/
*.pid

# Compiled files
*.so

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Distribution files
dist/
build/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
